aside {
  margin: 0% 10% 0%;
}

.row {
  display: block;
}

.a-block {
  flex-basis: 50%;
}

.row-line {
  display: flex;
  flex-wrap: wrap;
}
.line_row {
  display: flex;
}

.image-work {
  width: 35%;
  padding: 3% 3% 3% 3%;
}

.a-text {
  padding-right: 5%;
  font-size: 18px;
}

.padding {
  padding-left: 3%;
}

.img-dillers {
  width: 100%;
}

@media (max-width: 1024px) {
  .a-text {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .row {
    display: flex;
  }
}
