@charset "UTF-8";

@font-face {
  font-family:'Akzidenz Grotesk BQ - Bd Cnd';
  src: url("../fonts/akzidenz-grotesk_bq_bold_condensed.otf");
  src: local("O"), url("../fonts/akzidenz-grotesk_bq_bold_condensed.woff") format("woff"), 
      url("../fonts/akzidenz-grotesk_bq_bold_condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.nav {
  padding-top: 25px;
}

.container {
  max-width: 870px;
  margin: 0px auto;
}

.nav__top {
  display:flex;
  justify-content: space-between;
}

li{
  margin: 0 5px;
  display: inline-block;
}
.nav__lang {
margin-bottom: 14px;
}
.nav__lang li:first-child{
  background: #000;
  color: #fff;
  text-decoration: none;
  padding: 0 4px;
}

.li__lang {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 10px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline ;
  text-decoration-color: lightgrey;
}
.nav__nucs {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.0em;
  color: #000000;
}
.nav__order {
  font-family:'Akzidenz Grotesk BQ - Bd Cnd';
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
}
.nav__mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}
.nav__menu {
}
.li__menu {
  font-family:'Akzidenz Grotesk BQ - Bd Cnd';
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}
.nav__logo {
  min-height: 57px;
}
.nav__bottom {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.0em;
  color: #000000;
  margin-bottom: 33px;
}

.catering {
  display: flex;
  background-color: #000;
}
.cat__column {
  flex: 0 0 50%;
}
.cat__img {
  height: 100%;
  background: url('../img/rectangle_6_778.png') 0 0/100% auto no-repeat;
}
.cat-body {
  max-width: 380px;
  padding: 75px 0 75px 60px;
}
.cat-body__title {
  font-family:'Akzidenz Grotesk BQ - Bd Cnd';
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffffff;
}
.cat-body__text {
  font-family: 'PT Sans';
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  margin: 0 0 50px 0;
}
.cat-body__btns {
  display: flex;
  align-items: center;
}

.btn {
  text-align: center;
  height: 50px;
  background-color: #ffffff;
  display: inline-block;
  padding: 0 23px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 15px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #000000;
}
.link {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fffffe;
  margin: 0 0 0 15px;
}

.menu {
  margin: 75px 0 75px 0;
}
.menu__row {
  display: flex;
}
.menu__column {
  flex: 0 0 25%;
}

.menu__item{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.menu__img {
  display: block;

}
.menu__title {
  max-width: 180px;
  margin-top: 25px;
  font-family: 'Akzidenz Grotesk BQ - Bd Cnd';
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}
.menu__text {
  max-width: 180px;
  margin-top: 36px;
  font-family: 'PT Sans';
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  flex: 1 1 auto;
}
.menu__btn {
  margin-right: 60px;
  background: black;
  color: white;
  margin-top: 30px;
}
.menu__link {
  margin-top: 28px;
  color: black;
}

.why{
  background-color: #ebebeb;
  padding-bottom: 50px;
}
.why__content {
  display: flex;
}
.why__column {
  flex: 0 0 50%;
  background-color: #000;
  height: 150px;
}
.why__title-column {
  text-align: right;
  padding: 55px 60px 0 0;
  color: white;
  font-family: 'Akzidenz Grotesk BQ - Bd Cnd';
  font-size: 50px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.why__img-column {
  width: 100%;
  height: 150px;
}
.why__row{
  display: flex;
  flex-wrap:wrap;
}
.why__columns-item {
  padding-top: 50px;
  display: flex;
  flex: 0 0 50%;
}
.why__img {
  margin-right: 10px;
}
.why__text {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.why__text-title {
  font-family: 'Akzidenz Grotesk BQ - Bd Cnd';
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}
.why__text-text {
  font-family: 'PT Sans';
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}


.say {
  margin-top: 80px;
}
.say__top {}
.say__title {
  font-family: 'Akzidenz Grotesk BQ - Bd Cnd';
  font-size: 50px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #000000;
  margin-bottom: 38px;
}
.say__row{
}
.say__column{
  display: flex;
  flex-wrap:wrap;
  font-family: 'PT Sans';
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}
.spl{
  margin-bottom: 25px;
  flex: 0 0 50%;
  padding-left: 30px;
}
.say__column-item1 {
  order:1;
  background: url('../img/icon/check.png') left no-repeat;
}
.say__column-item2 {
  order:3;
  background: url('../img/icon/telephone.png') left no-repeat;
}
.say__column-item3 {
  order:2;
  background: url('../img/icon/email.png') left no-repeat;
}
.say__column-item4 {
  order:4;
}
.sc__img {
  padding-right: 30px;
}

.say-bottom__row {
  display: flex;
  background: #000000;
}
.say-bottom__column {
  max-height: 475px;
  flex: 0 0 50%;
}
.bottom__column-img {
  width: 100%;
  max-height: 475px;
}
.bottom__column-item {
  max-width: 440px;
  padding: 50px 0px 50px 50px;

}
.column-item__title {
  font-family: 'Akzidenz Grotesk BQ - Bd Cnd';
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-bottom: 25px;
}
input{
  font-family: 'PT Sans';
  font-size: 15px;
  padding-left: 20px;
  color: white;
  width: 100%;
  height: 100%;
  border: 2px solid #959595;
  background: #252525 ;

}
input::placeholder{
  font-family: 'PT Sans';
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}
.column-item__form {
  height: 50px;
  margin-bottom: 30px;
}
.column-item__form-message {
  height: 100px;
  margin-bottom: 30px;
}
.column-item__btn {
  width: 155px;
}

.footer{
  padding: 44px 0 ;
}
.footer__row{
  display: flex;
  justify-content: space-between;
}

.footer__row p{
font-family: 'PT Sans';
font-size: 15px;
line-height: 25px;
font-weight: 400;
color: #4d4d4d;
}

.footer__row span{
  text-decoration: underline;
}
